/* ------- Landing Page CSS starts --------*/
body{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #333;
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
  .title{
    display:flex;
    align-items: center;    
    justify-content: center;
    position: relative;
    font-size:150px;
    margin: -400px 0 -250px 0 ;
    color: #444;
    filter:drop-shadow(2px 4px 6px black);

  }
  span {
    color: #555;
    filter:drop-shadow(2px 4px 6px #fff);
    
  }
  .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;  
  }
  
  .container .card{
    position: relative;
    
  }
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    color:white;
    border: 1px solid #555;
    box-shadow:  20px 30px 25px rgba(0,0,0,0.75);
  }

  .container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(10px);
    border-radius:15px;
    
  }
  
  .container .card:hover .face.face1 {
    transform: translateY(0);
    border:0px;
    box-shadow:
    inset 0 0 20px whitesmoke,
    inset 20px 0 60px #f0f,
    inset -20px 0 60px #0ff,
    inset 20px 0 200px #f0f,
    inset -20px 0 200px #0ff,
    0 0 15px #fff,
    -10px 0 25px #f0f,
    10px 0 25px #0ff;
     
  }
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.25s;
    text-align: center;
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 5em;
    color: white;
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1.5em;
    color: white;
    text-align: center;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  .btn{
    font-size:30px;
  }
/* ------- Landing Page CSS ends --------*/